@page{
    size: auto;
}
.navigationBar {
    background-color: #9BA0BC;
    color: black;
    text-align: center;
    font-size: 30px;
    /*Hides content that goes out of bounds*/
    overflow: hidden;
}
.navigationBar a:link {
    color: black;
    text-decoration: none;
    margin-right: 40px;
}
a:link{
    /*changes how the links look (mkaes them more like normal text*/
    color:black;
    text-decoration:none;
}
a:visited{
    display: inline-block;
}
a:hover {
    color: black;
    text-decoration: underline;
    background-color:paleturquoise;
}
a:active {
    color: purple;
    text-decoration: underline;
    background-color:paleturquoise;
}
#PageMove {
    background-color: #4C516D;
    padding-left: 15px;
}
#SectionMove{
}
body {
    background-color: #7A8B99;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 19px;
    /*decides what font will be used based on what is available from left to right*/
    font-family: Arial, 'Comic Sans MS', 'Times New Roman';
}
footer {
    background-color: #9BA0BC;
}
#Intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
}
img {
    border-radius: 50%;
    border: 5px solid black;
}
figcaption{
    text-align: center;
}
h1{
    font-size: 50px;
    text-decoration-line: underline;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
    text-decoration-line: underline;
}
/*Used to allow text to be put next to images, tables etc*/
.WrapText {
    flex: 1;
    background-color: #9BA0BC;
    margin: 15px;
}
table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 75%;
    color: black;
    width: auto;
}
caption {
    background-color: #4C516D;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
/**Find when a row is hovered over*/
tr:hover {
    background-color: #FFB290;
}
table.scroll tbody,
table.scroll thead {
    display: block;
}
table.scroll tbody {
    height: 125px;
    /*clips overflowed content and adds a scroll bar vertically*/
    overflow-y: auto;
    /*Hides any content that is too wide*/
    overflow-x: hidden;
}
/*Make container flexible allows for content to be centered and side by side*/
.Grades{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
    background-color: #9BA0BC;
}
.qual {
    display: flex;
    text-align: center;
    margin: auto;
    background-color: #9BA0BC;
    width: 50%;
}

.column {
    margin: auto;
    flex: 1;
}
div{
    border-radius: 25px;
}
